abc-nav {
  margin: 0; }
  @media screen and (max-width: 768px) {
    .abc-nav {
      margin: 0; } }
  .abc-nav .top {
    display: block;
    background: #0d212d;
    padding: .8em 0; }
    .abc-nav .top p {
      color: #1378b6;
      margin: 0; }
    .abc-nav .top .num {
      display: inline-block; }
      @media screen and (max-width: 768px) {
        .abc-nav .top .num {
          display: none; } }
    .abc-nav .top .abc-social {
      display: inline-block;
      padding: 0;
      margin: 0 0 0 20px; }
      .abc-nav .top .abc-social li a {
        color: #4586FF;
        padding: 4px 7px; }
  .abc-nav .top-menu {
    padding: 10px 10px; }
    @media screen and (max-width: 768px) {
      .abc-nav .top-menu {
        padding: 28px 1em; } }
  .abc-nav #abc-logo {
    font-size: 24px;
    margin: 0;
    padding: 0;
    }
    .abc-nav #abc-logo a {
      position: relative;
      color: #000; }
      .abc-nav #abc-logo a i {
        position: absolute;
        top: 4px;
        left: 0;
        color: #4586FF; }
  @media screen and (max-width: 768px) {
    .abc-nav .menu-1 {
      display: none; } }
  .abc-nav ul {
    padding: 0;
    margin: 8px 0 0 0; }
    .abc-nav ul li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline;
      font-weight: 600; }
      .abc-nav ul li a {
        position: relative;
        font-size: 15px;
        padding: 30px 12px;
        color: rgba(13, 33,45, 0.9);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        .abc-nav ul li a:hover {
          color: #4586FF; }
      
      .abc-nav ul li.active > a {
        color: #4586FF !important;
        position: relative; }
        .abc-nav ul li.active > a:after {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

/*********************************************************************************************************************/
  /* #abc-hero {
  min-height: 650px;
  background: #fff url(../image/loader.gif) no-repeat center center;
  width: 100%;
  float: left; }
  #abc-hero .btn {
    font-size: 24px; }
    #abc-hero .btn.btn-primary {
      padding: 14px 30px !important; }
  #abc-hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0; }
    #abc-hero .flexslider .slides {
      position: relative;
      overflow: hidden; }
      #abc-hero .flexslider .slides li {
        background-repeat:  no-repeat;
        background-size: cover;
        background-position: bottom center;
        min-height: 650px;
        position: relative; }
        #abc-hero .flexslider .slides li .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.5); }
    #abc-hero .flexslider .flex-control-nav {
      bottom: 10em;
      z-index: 1000;
      width: 0 auto; }
      #abc-hero .flexslider .flex-control-nav li a {
        background: rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 12px;
        height: 12px;
        cursor: pointer; }
        #abc-hero .flexslider .flex-control-nav li a.flex-active {
          cursor: pointer;
          background: transparent;
          background: #4586FF; }
    #abc-hero .flexslider .flex-direction-nav {
      display: none; }
    #abc-hero .flexslider .slider-text {
      display: table;
      opacity: 0;
      height: 550px !important;
      z-index: 9; }
      #abc-hero .flexslider .slider-text > .slider-text-inner {
        height: 650px !important; }
      #abc-hero .flexslider .slider-text > .slider-text-inner {
        display: table-cell;
        vertical-align: middle;
        height: 550px;
        padding: 2em; }
        @media screen and (max-width: 768px) {
          #abc-hero .flexslider .slider-text > .slider-text-inner {
            text-align: center; } }
        #abc-hero .flexslider .slider-text > .slider-text-inner span i {
          font-size: 24px;
          color: #F7AF1D; }
        #abc-hero .flexslider .slider-text > .slider-text-inner h1, #abc-hero .flexslider .slider-text > .slider-text-inner h2 {
          margin: 0;
          padding: 0;
          color: white; }
        #abc-hero .flexslider .slider-text > .slider-text-inner h1 {
          margin-bottom: 50px;
          font-size: 40px;
          line-height: 1.3;
          font-weight: 300; }
          @media screen and (max-width: 768px) {
            #abc-hero .flexslider .slider-text > .slider-text-inner h1 {
              font-size: 28px; } }
        #abc-hero .flexslider .slider-text > .slider-text-inner h2 {
          font-size: 18px;
          line-height: 1.5;
          margin-bottom: 10px; }
          #abc-hero .flexslider .slider-text > .slider-text-inner h2 a {
            color: #4586ff;
            border-bottom: 1px solid rgba(69, 134, 255, 0.7); }
        #abc-hero .flexslider .slider-text > .slider-text-inner .heading-section {
          font-size: 50px; }
          @media screen and (max-width: 768px) {
            #abc-hero .flexslider .slider-text > .slider-text-inner .heading-section {
              font-size: 30px; } }
        #abc-hero .flexslider .slider-text > .slider-text-inner s
.abc-lead {
          font-size: 20px;
          color: #F96D00; }
          #abc-hero .flexslider .slider-text > .slider-text-inner s
.abc-lead .icon-heart {
            color: #d9534f; }
        #abc-hero .flexslider .slider-text > .slider-text-inner .btn {
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #fff;
          padding: 20px 30px !important;
          border: none; }
          #abc-hero .flexslider .slider-text > .slider-text-inner .btn.btn-learn {
            background: #F96D00;
            color: #fff; }
          #abc-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
            background: #000 !important; }
          @media screen and (max-width: 480px) {
            #abc-hero .flexslider .slider-text > .slider-text-inner .btn {
              width: 100%; } }
*/



/**********************************************************************************************************/
 /* .abc-intro {  width: 100%;
            padding-top: 100px;
            padding-bottom: 105px;
          }
.abc-intro_title {
              font-weight: 700;
              color: #2d2c2c;
              margin-top: -14px;
}
.abc-intro_text
{
  margin-top: 21px;
}
.abc-intro_text p
{
  font-size: 24px;
  font-style: italic;
  color: #929191;
  line-height: 1.336;
  margin-bottom: 0px;
}
.abc-intro_items
{
  margin-top: 69px;
}
.abc-intro_item
{
  width: 100%;
  height: 425px;
}
.abc-intro_item_overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(49, 18, 75, 0.55);
}
.abc-intro_item_background
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.abc-intro_item_content
{
  width: 100%;
  height: 100%;
  z-index: 3;
}
.abc-intro_date
{
  position: absolute;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: auto;
  padding-left: 39px;
  padding-right: 39px;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 27px;
  background: #fa9e1c;
  border-radius: 14px;
}
.abc-intro_button
{
  position: absolute;
  bottom: 51px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.abc-intro_center
{

}
.abc-intro_center h1
{
  font-size: 59px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: -0.05em;
}
.abc-intro_price
{
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: -4px;
}
.rating
{
  margin-top: 10px;
}
.rating i
{
  font-size: 19px;
  margin-right: 4px;
}
.rating i:last-child
{
  margin-right: 0px;
}
.rating_1 i:first-child{color: #ffeb8d;}
.rating_2 i:first-child{color: #ffeb8d;}
.rating_2 i:nth-child(2){color: #fed46b;}
.rating_3 i:first-child{color: #ffeb8d;}
.rating_3 i:nth-child(2){color: #fed46b;}
.rating_3 i:nth-child(3){color: #fbb53d;}
.rating_4 i:first-child{color: #ffeb8d;}
.rating_4 i:nth-child(2){color: #fed46b;}
.rating_4 i:nth-child(3){color: #fbb53d;}
.rating_4 i:nth-child(4){color: #fa9e1b;}
.rating_5 i:first-child{color: #ffeb8d;}
.rating_5 i:nth-child(2){color: #fed46b;}
.rating_5 i:nth-child(3){color: #fbb53d;}
.rating_5 i:nth-child(4){color: #fa9e1b;}
.rating_5 i:nth-child(5){color: #ef910a;} */

.joinus {
  position: relative;
  padding: 2em;
  background: #1378b6;
   -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    border-radius: 5%;
  -webkit-box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
  -ms-box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
  -o-box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07); }
  @media screen and (max-width: 768px) {
    .joinus {
      margin-bottom: 70px; } }
  .joinus .img-class {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
     }
  .joinus .class {
    display: block;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px; }
  .joinus small {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #999999; }
  .joinus blockquote {
    padding: 0;
    margin: 0 0 20px 0;
    border: none; }
    .joinus blockquote p {
      color: #fff;
      font-size: 16px; }

/******************************************************************************************************************/
#abc-about {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff; }
  #abc-about .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(13, 33, 45, 0.7);
    font-weight: 700; }
  #abc-about .abc-heading h2 {
    color: #fff !important;
    font-size: 34px; }
  #abc-about .abc-heading p {
    font-size: 18px; }

/********************************************************************************************************************/
#abc-footer {
  background: #0d212d;
  color: rgba(255, 255, 255, 0.5) !important; }
  #abc-footer .abc-footer-links {
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 768px) {
      #abc-footer .abc-footer-links {
        margin-bottom: 30px; } }
    #abc-footer .abc-footer-links li {
      padding: 0;
      margin: 0 0 10px 0;
      list-style: none;
      display: block; }
      #abc-footer .abc-footer-links li a {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none; }
        #abc-footer .abc-footer-links li a:hover {
          text-decoration: underline; }
  #abc-footer .abc-social-icons li a {
    padding-left: 10px;
    padding-right: 10px; }
    #abc-footer .abc-social-icons li a:first-child {
      padding-left: 0; }
  #abc-footer h4 {
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff; }

    /*********************************************************************************************************************/

    #abc-backbg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff; }
  #abc-backbg .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    font-weight: 700; }
  #abc-backbg .abc-heading h2 {
    color: #fff !important;
    font-size: 34px; }
  #abc-backbg .abc-heading p {
    font-size: 18px; }

/**************************************************************************************************************************/
    .abc-aboutus {
  margin-bottom: 30px; }

.contact-info-wrap {
  margin-bottom: 3em; }
  .contact-info-wrap p {
    text-align: center;
    padding-right: 10px; }
    .contact-info-wrap p span i {

      font-size: 20px;
      color: #4586FF; }
/************************************************************************************************************************/
.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .gototop.active {
    opacity: 1;
    visibility: visible; }
  .gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: #1378b6;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
    
    .gototop a:hover, .gototop a:active, .gototop a:focus {
      text-decoration: none;
      outline: none; }
    /******************************************************************************************************************/
