abc-nav {
  margin: 0; }
  @media screen and (max-width: 768px) {
    .abc-nav {
      margin: 0; } }
  .abc-nav .top {
    display: block;
    background: #4b0b0b;
    padding: .8em 0; }
    .abc-nav .top p {
      color: #1378b6;
      margin: 0; }
    .abc-nav .top .num {
      display: inline-block; }
      @media screen and (max-width: 768px) {
        .abc-nav .top .num {
          display: none; } }
    .abc-nav .top .abc-social {
      display: inline-block;
      padding: 0;
      margin: 0 0 0 20px; }
      .abc-nav .top .abc-social li a {
        color: #4586FF;
        padding: 4px 7px; }
  .abc-nav .top-menu {
    padding: 40px 30px; }
    @media screen and (max-width: 768px) {
      .abc-nav .top-menu {
        padding: 28px 1em; } }
  .abc-nav #abc-logo {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600; }
    .abc-nav #abc-logo a {
      position: relative;
      color: #000; }
      .abc-nav #abc-logo a i {
        position: absolute;
        top: 4px;
        left: 0;
        color: #4586FF; }
  @media screen and (max-width: 768px) {
    .abc-nav .menu-1 {
      display: none; } }
  .abc-nav ul {
    padding: 0;
    margin: 8px 0 0 0; }
    .abc-nav ul li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline;
      font-weight: 400; }
      .abc-nav ul li a {
        position: relative;
        font-size: 15px;
        padding: 30px 12px;
        color: rgba(75, 11, 11, 0.9);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        .abc-nav ul li a:hover {
          color: #4586FF; }
      
      .abc-nav ul li.active > a {
        color: #4586FF !important;
        position: relative; }
        .abc-nav ul li.active > a:after {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

   #abc-hero {
  min-height: 650px;
  background: #fff url(../image/loader.gif) no-repeat center center;
  width: 100%;
  float: left; }
  #abc-hero .btn {
    font-size: 24px; }
    #abc-hero .btn.btn-primary {
      padding: 14px 30px !important; }
  #abc-hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0; }
    #abc-hero .flexslider .slides {
      position: relative;
      overflow: hidden; }
      #abc-hero .flexslider .slides li {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        min-height: 650px;
        position: relative; }
        #abc-hero .flexslider .slides li .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.5); }
    #abc-hero .flexslider .flex-control-nav {
      bottom: 10em;
      z-index: 1000;
      width: 0 auto; }
      #abc-hero .flexslider .flex-control-nav li a {
        background: rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 12px;
        height: 12px;
        cursor: pointer; }
        #abc-hero .flexslider .flex-control-nav li a.flex-active {
          cursor: pointer;
          background: transparent;
          background: #4586FF; }
    #abc-hero .flexslider .flex-direction-nav {
      display: none; }
    #abc-hero .flexslider .slider-text {
      display: table;
      opacity: 0;
      height: 550px !important;
      z-index: 9; }
      #abc-hero .flexslider .slider-text > .slider-text-inner {
        height: 650px !important; }
      #abc-hero .flexslider .slider-text > .slider-text-inner {
        display: table-cell;
        vertical-align: middle;
        height: 550px;
        padding: 2em; }
        @media screen and (max-width: 768px) {
          #abc-hero .flexslider .slider-text > .slider-text-inner {
            text-align: center; } }
        #abc-hero .flexslider .slider-text > .slider-text-inner span i {
          font-size: 24px;
          color: #F7AF1D; }
        #abc-hero .flexslider .slider-text > .slider-text-inner h1, #colorlib-hero .flexslider .slider-text > .slider-text-inner h2 {
          margin: 0;
          padding: 0;
          color: white; }
        #abc-hero .flexslider .slider-text > .slider-text-inner h1 {
          margin-bottom: 50px;
          font-size: 40px;
          line-height: 1.3;
          font-weight: 300; }
          @media screen and (max-width: 768px) {
            #abc-hero .flexslider .slider-text > .slider-text-inner h1 {
              font-size: 28px; } }
        #abc-hero .flexslider .slider-text > .slider-text-inner h2 {
          font-size: 18px;
          line-height: 1.5;
          margin-bottom: 10px; }
          #abc-hero .flexslider .slider-text > .slider-text-inner h2 a {
            color: #4586ff;
            border-bottom: 1px solid rgba(69, 134, 255, 0.7); }
        #abc-hero .flexslider .slider-text > .slider-text-inner .heading-section {
          font-size: 50px; }
          @media screen and (max-width: 768px) {
            #abc-hero .flexslider .slider-text > .slider-text-inner .heading-section {
              font-size: 30px; } }
        #abc-hero .flexslider .slider-text > .slider-text-inner s
.abc-lead {
          font-size: 20px;
          color: #F96D00; }
          #abc-hero .flexslider .slider-text > .slider-text-inner s
.abc-lead .icon-heart {
            color: #d9534f; }
        #abc-hero .flexslider .slider-text > .slider-text-inner .btn {
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #fff;
          padding: 20px 30px !important;
          border: none; }
          #abc-hero .flexslider .slider-text > .slider-text-inner .btn.btn-learn {
            background: #F96D00;
            color: #fff; }
          #abc-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
            background: #000 !important; }
          @media screen and (max-width: 480px) {
            #abc-hero .flexslider .slider-text > .slider-text-inner .btn {
              width: 100%; } }
